<!DOCTYPE html>
<html>
    <head>
		<meta charset="ISO-8859-1">
		<title>Parqueadero</title>
        <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js'></script>
        <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link type="text/css" rel="stylesheet" href="./css/parking.css">		
		<script src='./js/parking_rest.js'></script>
    </head>
    <body ng-app='ParkingApp'>
      	<div class="page-container">
			<div class="form-container">
			    <h1>Parqueadero</h1>
			    <form ng-controller="parkingCtrl">
			    	<select ng-model="tipo">
			    		<option value="moto">Moto</option>
			    		<option value="carro">Carro</option>
			    	</select>
			        <input ng-model="placa" type="text" name="placa" placeholder="placa">
			        <input ng-model="cilindraje" type="text" name="cilindraje" placeholder="cilindraje">
			        <button ng-click="submit()">Ingresar</button>
			        <div class="answer"><span></span></div>
			    </form>
			</div>
		</div>
			<a>TABLA</a>
	        <div ng-controller='admittedCtrl' style="background: buttonhighlight; color: black;">
				<table>
					<tr>
						<th>tipo</th>
						<th>placa</th> 
						<th>cilindraje</th>
						<th>ingreso</th>
					</tr>
		            <tr ng-repeat="income in admittes">
		                <td>{{ income.vehicle.tipo }}</td>
		                <td>{{ income.vehicle.placa }}</td>
		                <td>{{ income.vehicle.cilindraje }}</td>
		                <td>{{ income.ingreso | date : format : timezone}}</td>
		            </tr>
				</table>


		        <!-- 
	            <p>Vehiculos:</p>
	            <div ng-repeat='income in admittes'>
                    <p style='text-indent: 20px'>
                        tipo:    	<b>{{ income.vehicle.tipo }}</b>
                        placa:   	<b>{{ income.vehicle.placa }}</b>
                        cilindraje: <b>{{ income.vehicle.cilindraje }}</b>
                        ingreso: 	<b>{{ income.ingreso | date : format : timezone}}</b>
                    </p>
	            </div>
	             -->
	        </div>

    </body>
</html>